*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

#btn-login {
  height: 40px;
  padding: 0px 16px;
  border-radius: 20px;
  background-color:rgb(50, 167, 145);
  color: black;
}


.trybewarts-header-logo {
  width: 70px;
  margin-left: 10px
}

#email, #password {
  height: 35px;
  width: 170px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 15px;
  padding-left: 5px;
  font-size: 16px;
}


.trybewarts-login {
  display: flex;
  gap: 10px;

}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

#input-name, #input-lastname {
  height: 45px;
  border-radius: 10px;
  padding-left: 8px;
  font-size: 16px;
  width: 100%;
}

#house, #input-email {
  height: 45px;
  border-radius: 10px;
  padding-left: 8px;
  font-size: 16px;
  width: 50%;
}



#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border-radius: 10px;
  font-size: 16px;
  align-self: auto;
  margin: 20px 40px;
  padding: 15px;
}



#logo-principal {
  height: 500px;
}

.selectHouse {
  display: flex;
  flex-direction: column;
}

.label-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
footer {
  text-align: center;
  background-color: rgb(50, 167, 145);
  padding: 20px;
}