*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}
#trybewarts-header-title {
  a
#title {

}

.trybewarts-header-logo {
  width: 70px;
  margin-left
}

.trybewarts-login {
  display: flex;

}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#logo-principal {
  height: 500px;
}