* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

body {
  font-family: Yusei Magic, sans-serif;
}

#btn-login {
  height: 40px;
  padding: 0 16px;
  border-radius: 20px;
  background-color: rgb(50, 167, 145);
  color: black;
}

.trybewarts-header-logo {
  width: 70px;
  margin-left: 10px;
}

#email , #password {
  height: 35px;
  width: 170px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 15px;
  padding-left: 5px;
}

.trybewarts-login {
  display: flex;
  gap: 10px;

}

main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

#input-name , #input-lastname {
  height: 45px;
  border-radius: 10px;
  padding-left: 8px;
  font-size: 16px;
  width: 100%;
}

#house , #input-email {
  height: 45px;
  border-radius: 10px;
  padding-left: 8px;
  font-size: 16px;
  width: 50%;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border-radius: 10px;
  font-size: 16px;
  align-self: auto;
  margin: 20px 40px;
  padding: 15px;
}

#trybewarts-forms-logo {
  margin-right: 100px;
  height: 500px;
}

.selectHouse {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

#evaluation-form h2 {
  text-align: center;
  margin-bottom: 25px;
}

.label-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.rate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rate [ name *= 'rate' ] {
  margin-left: 10px;
}

.adjust-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

#areatext {
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px;
}

.textarea {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}

.checkbox {
  display: flex;
  gap: 20px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgb(50, 167, 145);
  padding: 25px;
}

#submit-btn {
  margin-top: 15px;
  height: 40px;
  padding: 0 16px;
  border-radius: 20px;
  background-color: rgb(50, 167, 145);
  color: black;
}

.infos {
  display: flex;
}

.colunas {
  display: flex;
  flex-direction: column;
}
